<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    	<title>空气质量检测平台</title>
    
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="../static/css/bootstrap.min.css">
        <link rel="stylesheet" href="../static/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="../static/css/fontAwesome.css">
        <link rel="stylesheet" href="../static/css/hero-slider.css">
        <link rel="stylesheet" href="../static/css/owl-carousel.css">
        <link rel="stylesheet" href="../static/css/datepicker.css">
        <link rel="stylesheet" href="../static/css/tooplate-style.css">

        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet">

        <script src="../static/js/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script>
        <script src="../static/js/map/jquery-1.11.1.min.js"></script>
        <script src="../static/js/map/echarts.min.js"></script>
        <script src="../static/js/map/china.js"></script>
    </head>

<body>
	<div class="tabs-content" id="recommended-hotel" style="margin-top: 0px;border-top-width: 0px;border-top-style: solid;">
		<div class="container">
			<div class="col-md-12">
				<div class="section-heading" >
					<h1 align="center">空气质量地图</h1>
				</div>
			</div>
		</div>
	</div>
    <div class="tabs-content" id="recommended-hotel" style="margin-top: 0px;border-top-width: 0px;border-top-style: solid;padding-top: 0px;">
        <div id="container" style="height: 800px;width:1200px;">
            <script type="text/javascript">
                // 全国省份列表
                var dataMap = [
                {% for item in map_data %}
                {
                    name: '{{item.province}}',
                    value: '{{item.aqi}}',
                },
                {% endfor %}
                ]

                // 绘制图表，准备数据
                var option = {
                    tooltip: {
                        formatter: function (params) {
                            var info = '<p style="font-size:18px">' + params.name + '</p><p style="font-size:20px">aqi:'+params.value+'</p>'
                            return info;
                        },
                        backgroundColor: "#313695",//提示标签背景颜色
                        textStyle: { color: "#fff" } //提示标签字体颜色
                    },
                    visualMap: {
                    left: 'right',
                    min: 0,
                    max: 100,
                    inRange: {
                        color: ['#313695', '#4575b4', '#74add1', '#abd9e9', '#e0f3f8', '#ffffbf', '#fee090', '#fdae61', '#f46d43', '#d73027', '#a50026']
                    },
                    text: ['High', 'Low'],           // 文本，默认为数值文本
                    calculable: true
                    },
                    series: [
                        {
                            name: '中国',
                            type: 'map',
                            mapType: 'china',
                            selectedMode: 'multiple',
                            label: {
                                normal: {
                                    show: true,//显示省份标签
                                    // textStyle:{color:"#c71585"}//省份标签字体颜色
                                },
                                emphasis: {
                                    show: true,//对应的鼠标悬浮效果
                                    // textStyle:{color:"#800080"}
                                }
                            },
                            itemStyle: {
                                normal: {
                                    borderWidth: .5,//区域边框宽度
                                    // borderColor: '#009fe8',//区域边框颜色
                                    // areaColor:"#ffefd5",//区域颜色
                                },
                                emphasis: {
                                    borderWidth: .5,
                                    borderColor: '#4b0082',
                                    areaColor: "#ffdead",
                                }
                            },
                            data: dataMap
                        }
                    ]
                };
                //初始化echarts实例
                var myChart = echarts.init(document.getElementById('container'));
                //使用制定的配置项和数据显示图表
                myChart.setOption(option);
            </script>
        </div>
    </div>
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-offset-10">
                    <div class="primary-button">
                        <a href="alogged" class="scroll-top">返回</a>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    

    <script>window.jQuery || document.write('<script src="../static/js/vendor/jquery-1.11.2.min.js"><\/script>')</script>

    <script src="../static/js/vendor/bootstrap.min.js"></script>
    
    <script src="../static/js/datepicker.js"></script>
    <script src="../static/js/plugins.js"></script>
    <script src="../static/js/main.js"></script>

</body>
</html>